
.menu {
    width: 1580px;
    height: 820px;
    background-color: rgb(48, 48, 48);
    margin: 70px 0 0 160px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgb(48, 48, 48);

}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800px;
    text-shadow: 0 0 3px rgb(121, 121, 121) ;
    color: rgb(255, 255, 255);
    font-size: 75px;
    margin: 50px 0 0 280px;
}

.photo1 {
    margin: 60px 0 0 1130px;
    width: 400px;
    height: 300px;
    z-index: 1;
}

.panels {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: -450px;
    margin-left: 65px;
    z-index: 2;
}

.panel1 {
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px white;
    justify-content: center;
    align-items: center;
    margin-bottom: 100;
}

.photo2 {
    margin: 60px 0 0 1130px;
    width: 500px;
    height: 400px;
    z-index: 1;
}

.maintxt {
    font-family: "Montserrat", sans-serif;
    font-weight: 800px;
    text-shadow: 0 0 3px rgb(36, 36, 36) ;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}   

.spisok {
    font-family: "Montserrat", sans-serif;
    font-weight: 800px;
    text-shadow: 0 0 3px rgb(46, 46, 46) ;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 20px;
}

.pi {
        font-family: "Montserrat", sans-serif;
        font-weight: 800px;
        text-shadow: 0 0 3px rgb(36, 36, 36) ;
        color: rgb(0, 0, 0);
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 80px;
        font-size: 25px;
}
